{
  "sourceMaps": "inline",
  "babelrc": false,
  "plugins": [
    "relay",
    "./assert-messages-plugin.js",
    "chai-assert-async",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
  ],
  "presets": [
    "react",
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
