{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "settings": {
    "import/core-modules": [
      "atom"
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "babel",
    "prettier",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "no-unused-vars": "off",
    "jsx-a11y/alt-text": "error",
    "jsx-a11y/anchor-is-valid": "error",
    "prettier/prettier": "error"
  },
  "globals": {
    "atom": true
  }
}
