{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "flowtype",
    "flow-vars",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "etch.dom"
    },
    "flowtype": {
      "onlyFilesWithAnnotation": true
    },
    "import/core-modules": [
      "atom"
    ]
  },
  "extends": ["standard", "plugin:react/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "globals": {
    "atom": true,
    "advanceClock": true,
    "assert": true,
    "HTMLElement": true,
    "MouseEvent": true,
    "IDBKeyRange": true,
    "beforeEach": true,
    "afterEach": true,
    "describe": true,
    "fdescribe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "waitsForPromise": true,
    "oneTick": true,
    "until": true,
    "runs": true,
    "openAndActivated": true,
    "jasmine": true,
    "expect": true,
    "spyOn": true,
    "waitsFor": true
  },
  "rules": {
    "strict": 0,
    "babel/no-await-in-loop": 2,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "react/jsx-quotes": 0,
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "react/no-unknown-property": 0
  }
}
