version: "{build}"

platform: x64

branches:
    only:
      - master

clone_depth: 10

skip_tags: true

environment:
  APM_TEST_PACKAGES:
  ATOM_GITHUB_FS_EVENT_LOG: '1'
  MOCHA_TIMEOUT: '60000'
  UNTIL_TIMEOUT: '30000'

  matrix:
  - ATOM_CHANNEL: stable
  - ATOM_CHANNEL: beta
  - ATOM_CHANNEL: dev

install:
  - ps: Install-Product node 6

build_script:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/atom/ci/master/build-package.ps1'))

test: off
deploy: off
