'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Toggle Git Panel'
        'command': 'github:toggle-git-panel'
      }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'GitHub',
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'github:toggle-git-panel'
          }
        ]
      }
    ]
  }
]
'context-menu':
  '.github-FilePatchListView-item': [
    {
      'label': 'Open File'
      'command': 'github:open-file'
    }
  ]
  '.github-UnstagedChanges': [
    {
      'label': 'Discard Changes'
      'command': 'github:discard-changes'
    }
    {
      'label': 'Stage'
      'command': 'core:confirm'
    }
  ]
  '.github-StagedChanges': [
    {
      'label': 'Unstage'
      'command': 'core:confirm'
    }
  ]
  '.github-MergeConflictPaths': [
    {
      'label': 'Stage'
      'command': 'core:confirm'
    }
  ]
  '.github-FilePatchView': [
    {
      'label': 'Open File'
      'command': 'github:open-file'
    }
  ]
  '.github-FilePatchView.is-staged': [
    {
      'label': 'Unstage Selection'
      'command': 'core:confirm'
    }
  ]
  '.github-FilePatchView.is-unstaged': [
    {
      'label': 'Stage Selection'
      'command': 'core:confirm'
    }
  ]
