'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Toggle Git Panel'
        'command': 'github:toggle-git-panel'
      }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'GitHub',
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'github:toggle-git-panel'
          }
        ]
      }
    ]
  }
]
