version: 2

jobs:
  build:
    macos:
      xcode: "9.0"

    environment:
    - ATOM_LINT_WITH_BUNDLED_NODE: "true"
    - APM_TEST_PACKAGES: ""
    - npm_config_clang: "1"
    - CC: clang
    - CXX: clang++
    - ATOM_GITHUB_FS_EVENT_LOG: "1"
    - MOCHA_TIMEOUT: "60000"
    - UNTIL_TIMEOUT: "30000"

    steps:
    - checkout
    - run:
        name: download build-package.sh
        command: curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
    - run:
        name: chmod build-package.sh
        command: chmod u+x build-package.sh
    - run:
        name: OSTYPE wat
        command: echo "OSTYPE=${OSTYPE}"
    - run:
        name: OSTYPE in bash
        command: bash -c 'echo ${OSTYPE}'
    - run:
        name: uname maybe?
        command: uname -a
    - run:
        name: inside a script
        command: ./wat.sh
    - run:
        name: within caffeinate
        command: caffienate -s ./wat.sh
    - run:
        name: tests
        command: caffeinate -s ./build-package.sh
