'.workspace':
  'ctrl-8': 'github:toggle-github-tab-focus'
  'ctrl-shift-8': 'github:toggle-github-tab'
  'ctrl-9': 'github:toggle-git-tab-focus'
  'ctrl-shift-9': 'github:toggle-git-tab'
  'alt-g enter': 'github:commit'
  'alt-g f': 'github:fetch'
  'alt-g shift-f': 'github:pull'
  'alt-g p': 'github:push'
  'alt-g shift-p': 'github:force-push'
  'alt-g =': 'github:clone'

'atom-text-editor':
  'alt-m 1': 'github:resolve-as-ours'
  'alt-m 2': 'github:resolve-as-theirs'
  'alt-m 3': 'github:resolve-as-base'
  'alt-m enter': 'github:resolve-as-current'
  'alt-m r': 'github:revert-current'

'.github-Panel':
  'cmd-enter': 'github:commit'
  'ctrl-enter': 'github:commit'

'.github-StagingView':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'o': 'github:open-file'
  'left': 'core:move-left'

'.github-StagingView.unstaged-changes-focused':
  'cmd-backspace': 'github:discard-changes-in-selected-files'
  'ctrl-backspace': 'github:discard-changes-in-selected-files'

'.github-CommitView-editor atom-text-editor:not([mini])':
  'cmd-enter': 'github:commit'
  'ctrl-enter': 'github:commit'
  'shift-tab': 'core:focus-previous'

'.github-FilePatchView':
  '/': 'github:toggle-patch-selection-mode'
  'tab': 'github:select-next-hunk'
  'shift-tab': 'github:select-previous-hunk'
  'right': 'core:move-right'
  'o': 'github:open-file'
  'cmd-backspace': 'github:discard-selected-lines'
  'ctrl-backspace': 'github:discard-selected-lines'

'.github-Prompt-input':
  'enter': 'core:confirm'
  'esc': 'tool-panel:unfocus'

'.github-Dialog':
  'shift-tab': 'core:focus-previous'

'.github-Dialog input':
  'enter': 'core:confirm'

'body .github-CommitView-coAuthorEditor':
  'enter': 'github:co-author:enter'
  'down': 'github:co-author:down'
  'up': 'github:co-author:up'
  'tab': 'github:co-author:tab'
  'backspace': 'github:co-author:backspace'
  'escape': 'github:co-author:escape'
  'pageup': 'github:co-author:pageup'
  'pagedown': 'github:co-author:pagedown'
  'home': 'github:co-author:home'
  'end': 'github:co-author:end'
  'delete': 'github:co-author:delete'
