'atom-workspace':
  'cmd-shift-c': 'git:toggle-git-panel'
  'right': 'git:focus-git-panel'

'.git-StagingView':
  'tab': 'git:focus-next-list'
  'shift-tab': 'git:focus-previous-list'
  'left': 'git:focus-diff-view'

'.git-CommitView-editor atom-text-editor:not([mini])':
  'cmd-enter': 'git:commit'
  'ctrl-enter': 'git:commit'

'.git-FilePatchView':
  '/': 'git:toggle-patch-selection-mode'
  'tab': 'git:focus-next-hunk'
  'shift-tab': 'git:focus-previous-hunk'
