@import "variables";

// Styles for things that are sprinkled throuout various places

.status-warning {
  color: @gh-background-color-yellow;
}

.status-success {
  color: @gh-background-color-green;
}

.status-error {
  color: @gh-background-color-red;
}
