@import "variables";

.branches-list {
  .status {
    float:right;

    span:before {
      display:block;
    }
  }

  .selected .status span:before {
    color:fade(@text-color-selected, 50%);
  }
}

git-create-branch-view {
  padding-bottom:12px;

  span {
    font-weight:bold;
    margin-bottom:4px;
  }

  select {
    margin-bottom:12px;
  }
}
