@import "variables";

.github-StubItem-git-commit-preview { // TODO Rename class
  overflow: auto;

  .github-FilePatchView {
    border-bottom: 1px solid @base-border-color;

    &:last-child {
      border-bottom: none;
    }

    & + .github-FilePatchView {
      margin-top: @component-padding;
      border-top: 1px solid @base-border-color;
    }
  }


  // hack hack hack
  .github-FilePatchView {
    height: 500px;
  }
}
