@import "variables";

git-commit-message-view {
  atom-text-editor, atom-text-editor::shadow {
    margin: 0 -12px;

    .scroll-view {
      padding: 8px 12px;
    }
  }

  .commit-button {
    border-top:1px solid @separator-border-color;
    background:@tool-panel-background-color;
    margin:0 -12px;
    padding:0 12px;
  }

  .btn {
    margin:12px 0;
    width:100%;
    box-sizing:border-box;
  }
}
