@import "variables";

.git-commit-message-view {
  padding: @component-padding;
  border-top: 1px solid @base-border-color;

  .editor-component {
    height: 100px;
    border: 1px solid @input-border-color;
    border-radius: @component-border-radius;
    overflow: auto;
    padding: @component-padding / 2;
    background-color: @syntax-background-color;
  }

  .commit-message-footer {
    display: flex;
    align-items: center;
    margin-top: @component-padding;
  }

  .commit-button {
    flex: 1;
  }

  .message-countdown {
    width: 1.25em;
    text-align: right;
    margin-left: @component-padding;
  }
}

// TODO: Refactor, once things settle
.git-commit-message-view.git-commit-message-view {
  flex: 0 0 auto; // Use auto-height
}
