@import "variables";
@import (less) "../node_modules/react-select/dist/react-select.css";

.github-CommitView {
  padding: @component-padding;
  border-top: 1px solid @base-border-color;
  flex: 0 0 auto;

  &-editor {
    position: relative;
    border: 1px solid @input-border-color;
    border-radius: @component-border-radius;
    padding: @component-padding / 2;
    font-size: @font-size;
    background-color: @syntax-background-color;

    .github-CommitView-hardwrap {
      position: absolute;
      right: 20px;
      bottom: 0;
      padding: (@component-padding / 5) (@component-padding / 2);
      line-height: 1;
      border: none;
      background-color: @syntax-background-color;
      cursor: default;
      opacity: .3;
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: .5;
      }
    }
  }

  &-editor.hidden {
    display: none;
  }

  &-editor atom-text-editor {
    height: 100px;
    .cursor-line.cursor-line.cursor-line {
      background-color: transparent;
    }
  }

  &-coAuthorToggle {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: @component-padding / 2;
    line-height: 1;
    border: none;
    background-color: @syntax-background-color;
    cursor: default;
    opacity: .3;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: .5;
    }

    &Icon {
      width: 12px;
      height: 7px;
      fill: @text-color;
    }
  }

  &-coAuthorEditor {
    position: relative;
    margin-top: @component-padding / 2;
    padding: (@component-padding / 4) (@component-padding / 2);
    border: 1px solid @base-border-color;
    color: @syntax-text-color;
    border-radius: @component-border-radius;
    background-color: @syntax-background-color;
    cursor: text;

    &&, &.is-open, &.is-focused, &.is-searchable, &.is-searchable.is-open, &.is-searchable.is-focused:not(.is-open) {
      & > .Select-control {
        background-color: inherit;
        border: none;
        border-radius: 0;
        color: inherit;
        cursor: inherit;
        height: @component-line-height;
        box-shadow: none;
      }
    }

    .Select-placeholder {
      line-height: @component-line-height;
      padding: 0;
      color: @text-color-subtle;
    }

    .Select-input {
      line-height: @component-line-height;
      padding: 0;
      margin: 0;
      height: auto;

      & > input {
        padding: 0;
        line-height: inherit;
      }
    }

    .Select-option {
      display: inline-block;
      margin: 0;
      border-radius: 0;
      border: 0;
      background-color: transparent;
      width: 100%;

      padding: @component-padding / 2;
      padding-right: 10px; // space for scrollbar
      border-top: 1px solid @overlay-border-color;
      white-space: nowrap;

      &:first-child {
        border-top: none;
      }

      &.is-focused {
        color: white;
        background-color: @background-color-info;

        .github-CommitView-coAuthorEditor-username,
        .github-CommitView-coAuthorEditor-name {
          color: inherit;
        }
      }
    }

    .Select-menu-outer {
      top: auto;
      left: -1px;
      right: -1px;
      width: auto;
      bottom: 100%;
      border-radius: @component-border-radius;
      border: 1px solid @overlay-border-color;
      background-color: @overlay-background-color;
      box-shadow: 0 2px 6px hsla(0,0%,0%,.15);
      overflow: hidden;
    }

    .Select-value {
      margin: 0;
      margin-right: .5em;
      vertical-align: middle;
    }

    &-username {
      font-weight: 600;
      margin-right: .75em;
      color: @text-color-highlight;
    }
    &-name {
      color: @text-color-subtle;
    }
  }

  &-expandButton {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: @component-padding / 2;
    line-height: 1;
    border: none;
    background-color: @syntax-background-color;
    cursor: default;
    opacity: .3;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: .5;
    }
    &:before {
      margin: 0;
    }
  }

  &-bar {
    display: flex;
    align-items: center;
    margin-top: @component-padding;
  }

  &-label {
    margin-right: @component-padding;
  }

  &-button {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    &.is-secondary {
      flex: 0 1 auto;
      margin-right: @component-padding;
    }
  }

  &-remaining-characters {
    width: 1.25em;
    text-align: right;
    margin-left: @component-padding;
    color: @text-color-subtle;

    &.is-warning { color: @text-color-warning; }
    &.is-error   { color: @text-color-error; }
  }


  // States ---------------------------------------------------

  &-editor.is-expanded {
    background-color: transparent;
    atom-text-editor {
      display: none;
    }
    .github-CommitView-expandButton {
      position: relative;
      width: 100%;
      line-height: inherit;
      background-color: transparent;
      opacity: .5;
      &::before {
        margin-right: @component-padding / 2;
      }
      &::after {
        content: "Toggle expanded commit message";
      }
      &:active {
        opacity: .3;
      }
    }
  }

  .hard-wrap-icons {
    fill: @text-color
  }
}






// Hacks ---------------------------------------------------
// TODO: Unhack if possible


// Fix focus styles
// Since it's not possible to add a padding to <atom-text-editor>
// a pseudo element is used to add the border when focused.

.theme-one-dark-ui,
.theme-one-light-ui {
  .github-CommitView-editor atom-text-editor.is-focused,
  .github-CommitView-coAuthorEditor.is-focused {
    box-shadow: none;
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border: 2px solid;
      border-color: inherit;
      border-radius: @component-border-radius;
    }
  }
}
