@import "variables";

// Components --------------------------

// Progress
.git-Progress {
  display: flex;
  padding: @component-padding;
  border-top: 1px solid @base-border-color;
  &-bar {
    flex: 1;
  }
}

// Error message
.git-Error {
  display: flex;
  padding: @component-padding / 2;
  color: @text-color-highlight;
  border-top: 1px solid @base-border-color;
  background-color: @background-color-highlight;
  &-name {
    margin: @component-padding / 2;
    font-weight: bold;
  }
  &-message {
    flex: 1;
    margin: @component-padding / 2;
    border-left: 1px solid @base-border-color;
    padding-left: @component-padding;
  }
}
