@import "variables";

// Reusable components

// Generic bar that aligns its children
.git-Bar {
  display: flex;
  padding: @git-spacing;
  align-items: center;

  &-item {
    margin: @git-spacing;
    &.is-flexible {
      flex: 1;
    }
  }

  // TODO: Refactor! Not sure what to call it yet.
  &.is-addon {
    border-top: 1px solid @base-border-color;
  }

}

// Error messages
.git-Error {
  color: @text-color-highlight;
  border-top: 1px solid @base-border-color;
  border-bottom: 1px solid @base-border-color;
  background-color: @background-color-highlight;
  &-name {
    align-self: flex-start;
    font-weight: bold;
  }
  &-message {
    border-left: 1px solid @base-border-color;
    padding-left: @git-spacing * 2;
  }
}
