@import "variables";

atom-text-editor {
  .github-ConflictSeparator {
    background-color: @banner-line-color;
    span { color: lighten(@banner-line-color, 10%); };
  }

  .github-ConflictOurs {
    background-color: @ours-line-color;

    &.cursor-line { background-color: @ours-current-color; }
  }

  .github-ConflictOursBanner {
    background-color: @ours-line-color;

    &.cursor-line { background-color: @ours-current-color; }
    &.github-ConflictUnmodifiedBanner span { color: lighten(@ours-line-color, 10%); };
  }

  .github-ConflictOursBlock {
    background-color: @ours-line-color;
  }

  .github-ConflictBlock {
    display: flex;
    padding: 4px 15px;

    .github-ResolutionControls {
      flex: 1;
      button {
        margin-right: @component-padding;
      }

      span {
        cursor: pointer;
      }
    }
  }

  .github-ConflictTheirs {
    background-color: @theirs-line-color;
    &.cursor-line { background-color: @theirs-current-color; };
  }

  .github-ConflictTheirsBanner {
    background-color: @theirs-line-color;

    &.github-ConflictUnmodifiedBanner span { color: lighten(@theirs-line-color, 10%); };
  }

  .github-ConflictTheirsBlock {
    background-color: @theirs-line-color;
  }

  .github-ConflictBase {
    background-color: @base-line-color;
    &.cursor-line { background-color: @base-current-color; }
  }

  .github-ConflictBaseBanner {
    background-color: @base-line-color;
    &.github-ConflictUnmodifiedBanner span { color: lighten(@base-line-color, 10%); }
  }

  .github-ConflictBaseBlock {
    background-color: @base-line-color;
  }

  .github-ConflictModified, .github-ConflictModifiedBanner {
    background-color: @modified-line-color;
    &.cursor-line { background-color: @modified-current-color; }
    &.github-ConflictUnmodifiedBanner span { color: lighten(@modified-line-color, 10%); };
  }

  .github-ConflictModifiedBlock {
    background-color: @modified-line-color;
  }

  .github-ConflictTopBlock {
    border-top-left-radius: @component-border-radius;
    border-top-right-radius: @component-border-radius;
  }

  .github-ConflictBottomBlock {
    border-bottom-left-radius: @component-border-radius;
    border-bottom-right-radius: @component-border-radius;
  }

  .github-ResolvedLines {
    background-color: @resolved-line-color;
  }
}
