@import "variables";

@github-credentials-spacing: @component-padding / 2;

.github-Credentials {

  &Prompt {
    margin-bottom: @component-padding;
    text-align: center;
  }

  &Inputs {
    display: flex;
    flex-direction: column;
    padding: @github-credentials-spacing;
    line-height: 2;
  }

  .github-Buttons {
    display: flex;
    justify-content: flex-end;
    padding: @github-credentials-spacing;
  }

    // Switch button order on Windows
  .platform-win32 & {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .btn {
    margin: @github-credentials-spacing;
  }

}
