@import "variables";

git-experiment-diff-view {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  overflow-y:auto;
  display:block;

  .background-message {
    justify-content:center;
    font-family:@font-family;
    width:100%;
  }
}
