@import 'variables';

.donut-ring-pending {
  stroke: @gh-background-color-yellow;
}

.donut-ring-succeeded {
  stroke: @gh-background-color-green;
}

.donut-ring-failed {
  stroke: @gh-background-color-red;
}
