@import "variables";

.git-Files {
  position: relative;
  overflow-y: auto;

  &:empty:before {
    content:'No unstaged changes';
    display: block;
    padding: @component-padding;
    text-align: center;
    color: @text-color-subtle;
    font-style: italic;
  }
}
