@import "variables";

.file-summary {
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow:inset @separator-border-color 0 -1px 0;
  line-height:2.4em;
  cursor:default;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;

  .icon {
    margin-top: 2px;
  }

  &.selected {
    background: @background-color-highlight;
    color:@text-color-highlight;
    box-shadow:@pane-item-background-color 0 -1px 0;

    .meta > div {
      color:fade(@text-color-highlight, 70%);
    }

    :focus & {
      background: @background-color-selected;
      color:@text-color-selected;

      .meta > div {
        color:fade(@text-color-selected, 70%);
      }
    }
  }
}
