@import "variables";

.github-FilePatchListView {
  &:empty:before {
    content:'No changes';
    display: block;
    padding: @component-padding;
    text-align: center;
    color: @text-color-subtle;
    font-style: italic;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: @component-padding/2 @component-padding;
    padding-left: @component-padding * 3.5;
    overflow: hidden;
    -webkit-user-select: none;
    cursor: default;
  }

  &-icon {
    text-align: right;
    &:before {
      margin-right: @component-padding / 1.2;
    }
  }

  &-path {
    flex: 1;
  }
}

.github-MergeConflictPaths .github-FilePatchListView-icon:last-child {
  margin-left: @component-padding / 2;
}

.github-FilePatchListView-resolutionItem {
  padding-top: 0;
  padding-bottom: 10px;
  progress {
    width: 100%;
  }
}

//
// States
// -----------------------------------------

.github-StagingView-group.is-focused .is-selected {
  background: @background-color-highlight;
  color: @text-color-highlight;
  .github-StagingView:focus & {
    background: @background-color-selected;
    color: @text-color-selected;
  }
}
