@import "variables";

.file-summary {
  -webkit-user-select: none;
  display: flex;
  align-items: flex-start;
  padding: @component-padding/2 @component-padding;
  box-shadow:inset @separator-border-color 0 -1px 0;
  cursor:default;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;

  &.selected {
    background: @background-color-highlight;
    color:@text-color-highlight;
    box-shadow:@pane-item-background-color 0 -1px 0;

    .meta > div {
      color:fade(@text-color-highlight, 70%);
    }

    :focus & {
      background: @background-color-selected;
      color:@text-color-selected;

      .meta > div {
        color:fade(@text-color-selected, 70%);
      }
    }
  }

  .path {
    flex: 1;
  }
  .stage-status-unstaged + .path {
    color: @text-color-subtle;
  }

  .icon {
    margin: 2px 0 0 @component-padding;
    &::before {
      margin-right: 0;
    }
  }
}
