// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

@separator-border-color: contrast(@pane-item-background-color, fade(@pane-item-border-color, 20%), @pane-item-border-color);

git-experiment-changes-view {
  .data {
    display: flex;
    flex-direction:column;
  }

  .data > div {
    flex: 1;
    -webkit-transform:scale(1);

    &.column-header {
      flex-grow:0;
      flex-shrink:0;
      flex-basis:2.71em;
    }

    &.files {
      overflow-y:auto;
      min-height:2.4em;
      flex-basis:auto;

      &:empty:before {
        content:'No unstaged changes';
        line-height:2.4em;
        text-align:center;
        display:block;
        opacity:0.4;
        font-style:italic;
      }
    }

    &.files.staged {
      flex-grow:0;
      flex-shrink:1;

      &:empty:before {
        content:'Nothing to commit';
      }
    }

    &.commit-message-box {
      padding:0 12px;
      flex-grow:0;
      flex-shrink:0;
      flex-basis:auto;

      atom-text-editor {
        margin:8px -12px 0 0;
        background:@pane-item-background-color;
        color:@text-color;

        .highlight.selection .region, &::shadow .highlight.selection .region {
          background-color:fade(@background-color-highlight, 40%);
        }

        .line.cursor-line, &::shadow .line.cursor-line {
          background-color:fade(@background-color-highlight, 20%);
        }

        .placeholder-text, &::shadow .placeholder-text {
          color:fade(@text-color, 70%);
        }
      }

      .commit-button {
        border-top:1px solid @separator-border-color;
        background:@tool-panel-background-color;
        margin:0 -12px;
        padding:0 12px;
      }

      .btn {
        margin:12px 0;
        width:100%;
        box-sizing:border-box;
      }
    }

    &.undo-last-commit-box {
      flex-grow:0;
      flex-shrink:0;
      flex-basis:auto;
      box-shadow:inset @separator-border-color 0 1px 0;
      background:@tool-panel-background-color;

      .undo-wrapper {
        max-height:0;
        overflow:hidden;
        box-sizing:border-box;
        padding:0;
        transition:max-height 0.2s ease-in-out;

        &.show {
          max-height:200px;
        }

        .btn {
          float:right;
          margin:@component-padding+1 @component-padding;
        }

        .description {
          font-size:@font-size - 1;
          color:@text-color-subtle;
          margin:@component-padding @component-padding 0;
        }

        .title {
          font-size:@font-size;
          font-weight:bold;
          line-height:1;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          margin:0 @component-padding @component-padding;
        }
      }
    }
  }
}

git-experiment-history-view, git-experiment-changes-view {
  display: flex;
  background: @pane-item-background-color;

  .column-header {
    padding:0 12px;
    width:100%;
    line-height:2.7em;
    height:2.7em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background:contrast(@pane-item-background-color, darken(@pane-item-background-color, 3%), lighten(@pane-item-background-color, 3%));
    font-size: @font-size;
    font-weight:bold;
    box-shadow:inset @separator-border-color 0 -1px 0, inset @separator-border-color 0 1px 0;

    .btn {
      position:absolute;
      right:8px;
      top:50%;
      margin-top:-1em;
      display:none;
    }

    &:hover {
      .btn {
        display:inline-block;
      }
    }

    &:first-child {
      box-shadow:inset @separator-border-color 0 -1px 0;
    }

    .icon {
      opacity:0.4;
      margin:0;

      &:before {
        margin:0;
      }
    }
  }

  .data {
    font-family: @font-family;
    font-size: @font-size;
    color:@text-color;
    width: 360px;
    overflow:hidden;
    position:relative;
    border-right:1px solid @pane-item-border-color;

    .scroller {
      position:absolute;
      top:2.7em;
      right:0;
      bottom:0;
      left:0;
      overflow-y:auto;
    }

    .commit {
      padding: 9px 10px 10px 52px;
      box-shadow:inset @separator-border-color 0 -1px 0;
      cursor:default;
      position:relative;
      min-height:52px;
      box-sizing:border-box;
    }

    .change {
      padding: 0 10px;
      box-shadow:inset @separator-border-color 0 -1px 0;
      line-height:2.4em;
      cursor:default;
      position:relative;
      box-sizing:border-box;

      .btn {
        position:absolute;
        right:8px;
        top:50%;
        margin-top:-1em;
        display:none;
      }

      &:hover {
        .btn {
          display:inline-block;
        }
      }
    }

    .files.staged .change:last-child {
      box-shadow:none;
    }

    .commit.selected, .change.selected {
      background: @background-color-highlight;
      color:@text-color-highlight;
      box-shadow:@pane-item-background-color 0 -1px 0;

      .meta > div {
        color:fade(@text-color-highlight, 70%);
      }
    }

    &:focus {
      .commit.selected, .change.selected {
        background: @background-color-selected;
        color:@text-color-selected;

        .meta > div {
          color:fade(@text-color-selected, 70%);
        }

        .icon:before {
          color:@text-color-selected;
        }
      }
    }

    .message {
      font-size:110%;
      font-weight:500;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }

    .meta {
      display:table;
      width:100%;

      & > div {
        display:table-cell;
        color:@text-color-subtle;
      }
    }

    .sha {
      font-family:Inconsolata, Monaco, Consolas, 'Courier New', Courier;
      width:1px;
      text-align:right;
    }

    .avatar {
      position:absolute;
      top:10px;
      left:10px;
      border-radius:3px;
      background:rgba(0,0,0,0.1);
      width:32px;
      height:32px;

      &:after {
        content:'';
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius:3px;
        box-shadow:inset rgba(0,0,0,0.1) 0 0 0 1px;
        z-index:3;
      }

      img {
        width:32px;
        height:32px;
        border-radius:3px;
        // display:none;
      }
    }
  }

  .diffs {
    width: 70%;
    overflow: auto;
    background:@syntax-background-color;
  }
}

commit-header-view {
  display:block;
  padding:10px 12px;
  font-family: @font-family;
  font-size: @font-size;
  color:@text-color;
  background: @pane-item-background-color;
  box-shadow:inset @separator-border-color 0 -1px 0;

  .message {
    font-size:160%;
    font-weight:500;
    line-height:1.1;
    margin:0 0 8px;
  }

  .description {
    font-size:90%;
    white-space:pre;
    opacity:0.7;
  }

  .meta {
    margin-top:8px;
    vertical-align:middle;

    > div {
      display:inline-block;
      margin:0 16px 0 0;
      line-height:1;
    }
  }

  .avatar {
    display:inline-block;
    position:relative;
    border-radius:2px;
    background:rgba(0,0,0,0.1);
    width:16px;
    height:16px;
    vertical-align:middle;
    top:-1px;
    margin-right:2px;

    &:after {
      content:'';
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:2px;
      box-shadow:inset rgba(0,0,0,0.1) 0 0 0 1px;
      z-index:3;
    }

    img {
      position:absolute;
      top:0;
      left:0;
      width:16px;
      height:16px;
      border-radius:3px;
      // display:none;
    }
  }

  .icon {
    opacity:0.4;
    vertical-align:middle;
    margin:0;
    position:relative;
    display:inline-block;
    top:-1px;

    &:before {
      margin-right:0;
    }
  }
}

/*
  You have these available from syntax variables:

  // General colors
  @syntax-text-color: #333;
  @syntax-cursor-color: #333;
  @syntax-selection-color: #69c;
  @syntax-selection-flash-color: #00f; // Color the selection is 'flashed' when you run find next
  @syntax-background-color: #fff;

  // Guide colors
  @syntax-wrap-guide-color: #ccc;
  @syntax-indent-guide-color: #ccc;
  @syntax-invisible-character-color: #ccc;

  // For find and replace markers
  @syntax-result-marker-color: #444;
  @syntax-result-marker-color-selected: #000;

  // Gutter colors
  @syntax-gutter-text-color: #333;
  @syntax-gutter-text-color-selected: #000;
  @syntax-gutter-background-color: #ccc;
  @syntax-gutter-background-color-selected: #eee;

  // For git diff info. i.e. in the gutter
  @syntax-color-added: green;
  @syntax-color-modified: orange;
  @syntax-color-removed: red;
  @syntax-color-renamed: blue;
*/

// Style straight up lifted from
// https://github.com/github-prototype/diff-view/blob/master/app/style/default.css
patch-view {
  display: block;
  font-family:Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size:15px;
  color: @syntax-text-color;
  background: @syntax-background-color;

  &:last-child {
    border-bottom:1px solid contrast(@syntax-background-color, fade(#000, 10%), fade(#000, 35%));
  }

  .diff-file {
    padding: 0 12px;
    font-family: @font-family;
    font-size: @font-size;
    font-weight:500;
    color:@text-color;
    line-height:2.7em;
    background:contrast(@pane-item-background-color, darken(@pane-item-background-color, 3%), lighten(@pane-item-background-color, 3%));
    box-shadow:inset @separator-border-color 0 -1px 0;
  }

  & + patch-view .diff-file {
    box-shadow:inset @separator-border-color 0 -1px 0, inset @separator-border-color 0 1px 0;
  }

  @hunk-color: contrast(@syntax-background-color, fade(#4A90E2, 5%), fade(#4A90E2, 10%));

  .diff-hunk-header {
    color:fade(@syntax-text-color, 50%);
    background:@hunk-color;
    height:26px;
    line-height:26px;
  }

  .diff-hunk-header .old-line-number, .diff-hunk-header .new-line-number {
    background-color:darken(@hunk-color, 10%);
    border-color:darken(@hunk-color, 100%);
  }

  .diff-hunk {
    white-space: pre;
    color:fade(@syntax-text-color, 50%);;
    padding:0;
    margin:0;
    width:100%;
    border-collapse:collapse;
    line-height:1.3em;
    table-layout:fixed;
  }

  td {
    height:18px;
  }

  .old-line-number, .new-line-number {
    width:42px;
    text-align: center;
    vertical-align:top;
    color: fade(@syntax-text-color, 50%);
    box-shadow:inset contrast(@syntax-background-color, rgba(0,0,0,0.1), rgba(0,0,0,0.35)) -1px 0 0;
  }

  .diff-hunk-data {
    padding:0 8px;
    white-space:pre-wrap;
    word-wrap: break-word;
  }

  @deletion-number: fade(@syntax-color-removed, 50%);
  @addition-number: fade(@syntax-color-added, 50%);

  .deletion td {
    background-color:contrast(@syntax-background-color, fade(@syntax-color-removed, 8%), fade(@syntax-color-removed, 15%));
    color:@syntax-text-color;
  }

  .deletion .old-line-number, .deletion .new-line-number {
    background-color:contrast(@syntax-background-color, fade(@syntax-color-removed, 15%), fade(@syntax-color-removed, 25%));
    color: fade(@syntax-text-color, 50%);
  }

  .addition td {
    background-color:contrast(@syntax-background-color, fade(@syntax-color-added, 8%), fade(@syntax-color-added, 15%));
    color:@syntax-text-color;
  }

  .addition .old-line-number, .addition .new-line-number {
    background-color:contrast(@syntax-background-color, fade(@syntax-color-added, 15%), fade(@syntax-color-added, 25%));
    color: fade(@syntax-text-color, 50%);
  }
}
