// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

git-experiment-diffs-view {
  display: flex;
  .history {
    width: 300px;
    .commit {
      margin: 10px;
    }
  }
}
