@import "variables";

.github-PanelResizer {
  // ok, yeah, magic number.. err color
  // background-color: mix(@base-background-color, @tool-panel-background-color);
}

.github-PanelEtchWrapper {
  height: 100%;
}

.github-Panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  font-family: @font-family;
  font-size: @font-size;
  color: @text-color;

  -webkit-user-select: none;
  cursor: default;

  &.is-loading,
  &.no-repository {
    padding: @component-padding * 3;
    text-align: center;
    color: @text-color-subtle;
    font-style: italic;
  }
}
