@import "ui-variables";

@github-padding: @component-padding * 5;
@github-spacing: @github-padding /2;
@github-icon-size: 64px;

.github-status-bar-component {

  // Specificity war at its finest. Currently at 0|0|5|0
  .github-commit-status.icon.icon.icon {
    margin-left: .25em;
  }

  .icon-check {
    color: @text-color-success;
  }

  .icon-primitive-dot {
    color: @text-color-warning;
  }

  .icon-x {
    color: @text-color-error;
  }
}

.github-modal-repo-access {
  text-align: left;
  ul li {
    text-align: left;
    a {
      text-decoration: underline;
    }
  }
}

.github-modal-sign-in-component, .github-modal-repo-access {
  padding: @github-padding;
  font-size: 1.25em;
  text-align: center;

  .close-modal {
    position: absolute;
    right: 0px;
    top: 0px;
    color: @text-color-subtle;
  }

  .section {
    margin-top: @github-spacing;
  }

  .note {
    color: @text-color-subtle;
    font-size: .9em;
    font-style: italic;
  }

  .header {
    color: @text-color-highlight;

    .icon-atom {
      width: @github-icon-size;
      height: @github-icon-size;
      vertical-align: middle;
    }

    .icon::before {
      font-size: @github-icon-size;
      width: @github-icon-size;;
      height: @github-icon-size;
      line-height: @github-icon-size;
      vertical-align: middle;
    }

    .icon-plus::before {
      color: @text-color-subtle;
      font-size: @github-icon-size/1.5;
      line-height: @github-icon-size;
      margin: 0 .5em;
    }
  }

  .sign-in-explanation {
    text-align: left;
  }

  .sign-in-to-github {
    margin-top: @github-spacing;
  }

  .token-input {
    width: 100%;
    margin-top: @github-spacing;
    margin-bottom: @github-spacing;
    padding: @component-padding;
    border-radius: @component-border-radius;
    border: 1px solid @input-border-color;
    background-color: @input-background-color;
    &::-webkit-input-placeholder {
      color: @text-color-subtle;
    }
    &.is-checking {
      opacity: 0.5;
    }
    &.is-error {
      animation: github-token-input-animation .4s ease-out;
    }
    @keyframes github-token-input-animation {
        0% { transform: translateX(0); }
       20% { transform: translateX(-10px); }
       40% { transform: translateX( 10px); }
       60% { transform: translateX(-10px); }
       80% { transform: translateX( 10px); }
      100% { transform: translateX(0); }
    }
  }

  .response {
    margin-top: @github-spacing;
    text-align: left;
    font-size: 1.1em;

    // Icon
    &::before {
      font-size: 32px;
      font-family: 'Octicons Regular';
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      margin-right: .3em;
    }
    &.is-success::before {
      content: '\f03a';
      color: @text-color-success;
    }
    &.is-error::before {
      content: '\f081';
      color: @text-color-error;
    }
  }

}
