@import "variables";

.github-StubItem-github,
.github-GitHub-root {
  flex: 1;
  display: flex;
}

.github-GitHub {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  cursor: default;

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-noRemotes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    font-size: 1.25em;
    text-align: center;
  }

  .github-RemoteSelector {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    text-align: center;
    padding: @component-padding * 3;

    > * {
      margin: @component-padding 0;
    }
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    button {
      width: 100%;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
