@import "ui-variables";
@import "syntax-variables";

@PRComment-color: mix(@syntax-text-color, @syntax-background-color, 80%);
@PRComment-color-subtle: mix(@syntax-text-color, @syntax-background-color, 50%);
@PRComment-color-link: mix(@syntax-color-renamed, @PRComment-color-subtle, 20%);
@PRComment-color-border: @syntax-indent-guide-color;

.github-PRComment {
  max-width: 600px;
  font-size: 11/12em;
  color: @PRComment-color;
  padding: 0 @component-padding;

  &:nth-child(2) {
    border-top: 1px solid @PRComment-color-border;
  }
  &:nth-last-child(2) {
    border-bottom: 1px solid @PRComment-color-border;
  }

  &-header {
    font-size: 10/12em;
    color: @PRComment-color-subtle;
  }

  &-avatar {
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
  }

  &-login {}

  &-timeAgo {
    color: @PRComment-color-link;
    &:hover {
      color: @PRComment-color-link;
    }
  }

  &-body {
    margin-left: 9px; // half of avatar - half of border
    padding-left: 20px; // avatar
    border-left: 2px solid @PRComment-color-border;

    img {
      display: block;
      max-width: 100%;
      margin: .4em 0 0 0;
    }

    p {
      margin: .2em 0 0 0;
    }

    pre {
      margin: .4em 0 0 0;
    }

    code,
    pre {
      color: mix(@syntax-text-color, @syntax-background-color, 66%);
      border: 1px solid mix(@syntax-text-color, @syntax-background-color, 10%);
      background-color: mix(@syntax-text-color, @syntax-background-color, 5%);
    }
    pre code {
      border: none;
    }

    img,
    p,
    pre {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}


// HACK -----------------------

// This adds some margins
// since the total height gets calculated with the height of each child
// https://github.com/atom/github/blob/sm-comment-styling/lib/review-comment-manager.js#L54

.github-PRComment-margin {
  height: @component-padding / 2;
}

.github-PRComment {
  &:nth-child(2) {
    .github-PRComment-margin:first-child {
      height: @component-padding;
    }
  }
  &:nth-last-child(2) {
    .github-PRComment-margin:last-child {
      height: @component-padding;
    }
  }
}
