@import "ui-variables";

.github-status-bar-component {
  .github-sign-in.is-success {
    .icon::before {
      color: @text-color-success;
      text-align: right;
      animation: github-sign-in-animation .5s ease-out;
    }
    @keyframes github-sign-in-animation {
        0% { transform: scale(0); }
       33% { transform: scale(1); }
       66% { transform: scale(0.5); }
      100% { transform: scale(1); }
    }
  }

  .github-new-pr {
    &.is-progress {
      pointer-events: none;
      color: @text-color-subtle;
      text-decoration: none;
    }
    .loading.loading-spinner-tiny {
      margin-right: .1em;
      margin-top: -0.15em;
      vertical-align: middle;
    }
  }
}
