@import "ui-variables";

.git-HunkView {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  border-bottom: 1px solid @pane-item-border-color;
  background-color: @pane-item-background-color;

  &-header {
    display: flex;
    align-items: center;
    background-color: @panel-heading-background-color;
    border-bottom: 1px solid @panel-heading-border-color;
  }

  &-title {
    flex: 1;
    font-size: .9em;
    padding: 0 @component-padding;
    color: @text-color-subtle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
  }

  &-stageButton {
    margin: @component-padding / 2;
    line-height: 1;
    font-family: @font-family;
    border-radius: @component-border-radius;
    border: 1px solid @panel-heading-border-color;
    background-color: @button-background-color;
    cursor: default;
    &:hover  { background-color: @button-background-color-hover; }
    &:active { background-color: @panel-heading-border-color; }
  }

  &-line {
    display:flex;
    line-height: 1.5em;

    &.is-selected {
      background-color: @background-color-selected;
    }
  }

  &-oldLineNumber,
  &-newLineNumber {
    flex: 0 0 3em; // TODO: Make width dynamic, currently capped at 3 chars
    overflow: hidden;
    padding: 0 .5em;
    text-align: right;
    color: @text-color-subtle;
    border-right: 1px solid @base-border-color;
    -webkit-font-smoothing: antialiased;
  }

  &-lineContent {
    flex: 1;
    padding: 0 .5em;
    padding: 0 .5em 0 3em; // indent 2 levels
    text-indent: -2.5em; // but only when soft-wrapped
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
