@import 'variables';

.github-IssueishTooltip {
  text-align: left;
  font-size: .9em;
  padding: @component-padding/2;

  .issueish-badge-and-link {
    padding-bottom: @component-padding;
  }

  .issueish-badge {
    align-self: flex-start;
    flex-shrink: 0;
    margin-right: @component-padding;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: @component-border-radius;

    &.open {
      color: contrast(@gh-background-color-green, black, white, 50%);
      background-color: @gh-background-color-green;
    }

    &.closed {
      color: contrast(@gh-background-color-red, black, white, 50%);
      background-color: @gh-background-color-red;
    }

    &.merged {
      color: contrast(@gh-background-color-purple, black, white, 50%);
      background-color: @gh-background-color-purple;
    }

    .icon:before {
      vertical-align: text-top;
    }
  }

  .issueish-link {
    color: @text-color-subtle;
  }

  .issueish-title {
    display: block;
    margin: 0;
    padding-bottom: @component-padding;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3;
    color: @text-color-highlight;
    white-space: initial;
  }

  .issueish-avatar-and-title {
    strong {
      font-weight: normal;
      color: @text-color-subtle;
    }
  }

  .author-avatar {
    margin-right: @component-padding/2;
    width: 20px;
    height: 20px;
    border-radius: @component-border-radius;
  }
}
