@import "variables";

@size: 16px;

.github-IssueishList {
  &-item {
    &--avatar {
      border-radius: @component-border-radius;
      height: @size;
      width: @size;

      line-height: @size;
      margin: 2px;
    }
  }
}
