@import "variables";

// TODO: Rename
.github-Accordion-list--item {
  display: flex;
  align-items: center;
  padding: @component-padding / 4;
  border-bottom: 1px solid @base-border-color;
  background-color: @base-background-color;

  &:active {
    background-color: @background-color-highlight;
  }
}

.github-IssueishList {
  &-item {

    // TODO: Rename
    &--avatar,
    &--title,
    &--number,
    &--status,
    &--age {
      margin: @component-padding / 4;
    }

    &--avatar {
      @size: 16px;
      border-radius: @component-border-radius;
      height: @size;
      width: @size;
    }

    &--title {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--number {
      font-size: .9em;
      color: @text-color-subtle;
    }

    &--status {
      &:before {
        margin-right: 0;
      }
      &.icon-check {
        color: @text-color-success;
      }
      &.icon-x {
        color: @text-color-error;
      }
    }

    &--age {
      color: @text-color-subtle;
      font-size: .9em;
    }

  }
}

.github-CreatePullRequestTile {
  &-message,
  &-controls {
    padding: @component-padding;
    text-align: center;
  }
}
