@import "variables";
@import "ui-variables";

.github-PaneView {
  display: flex;
  height: 100%;

  &.is-blank, &.large-file-patch {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    padding: @component-padding;
  }

  &.large-file-patch {
    flex-direction: column;
  }
}
