@import "variables";
@import "ui-variables";

.github-PaneView {
  overflow-y: auto;

  &.is-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    padding: @component-padding;
  }
}
