@import 'variables';

@avatar-size: 16px;


.github-PrCommentThread {
  padding: @component-padding/2 0;
  border-bottom: 1px solid @base-border-color;
}


.github-PrComment {
  max-width: 60em;
  margin: @component-padding 0;
  padding-right: @component-padding*2;
  font-family: @font-family;
  font-size: @font-size;

  &-header {
    color: @text-color-subtle;
  }

  &-avatar {
    margin-right: 4px;
    height: @avatar-size;
    width: @avatar-size;
    border-radius: @component-border-radius;
  }

  &-timeAgo {
    color: inherit;
  }

  &-body {
    margin-left: @avatar-size + 4px; // avatar + margin
  }

}
