@import 'variables';

@default-padding: 5px;
@avatar-dimensions: 16px;

.github-PrCommitView {

  &-btn {
    background-color: inherit;
    border: none;
    font-style: italic;
    margin-left: @default-padding;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &-avatar {
    border-radius: @component-border-radius;
    height: @avatar-dimensions;
    margin-right: @default-padding;
    width: @avatar-dimensions;
  }

  &-text {
    line-height: @avatar-dimensions;
    vertical-align: middle;
  }

  &-container {
    border: 1px solid @base-border-color;
    border-bottom: none;
    border-radius: @component-border-radius;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    padding: @default-padding;

    &:last-child {
      border-bottom: 1px solid @base-border-color;
    }

    &:first-child {
      margin-top: 20px;
    }

    &:hover {
      background-color: @background-color-info;
    }
  }
}
