@import 'variables';

.github-PrCommitView {

  &-btn {
    background-color: inherit;
    border: none;
    font-style: italic;
    height: 25px;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-container {
    border: 1px solid @separator-border-color;
    border-bottom: none;
    border-radius: @component-border-radius;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 5px;

    &:hover {
      background-color: @background-color-info;
    }
  }
}
