@import 'variables';

.github-PrSelectionByBranch {
  overflow: auto;

  &-message {
    padding: @component-padding;
    padding-bottom: 0;
  }

  .github-PrUrlInputBox-Subview {
    padding: 0 @component-padding @component-padding @component-padding;
  }

  ul {
    list-style: none;
    padding-left: 0;
    cursor: default;
  }
  li {
    padding: @component-padding/2 @component-padding;
    border-top: 1px solid @base-border-color;
    &:hover {
      background-color: @background-color-highlight;
    }
  }

}
