@import 'variables';

.github-PrSelectionByBranch {
  padding: @component-padding;
  overflow: auto;

  ul {
    list-style: none;
    padding-left: 0;
    cursor: pointer;

    li {
      margin-bottom: @component-padding / 2;
    }

    li:nth-child(2n) {
      background: @background-color-highlight;
    }
  }
}
