@import 'variables';

@avatar-size: 20px;

.github-PrTimeline {
  margin-top: @component-padding * 3;
  border-top: 1px solid mix(@text-color, @base-background-color, 15%);

  // all items
  & > * {
    margin: 0 @component-padding * 2;
    padding: @component-padding*2 0;
    border-bottom: 1px solid mix(@text-color, @base-background-color, 15%);
  }

  .author-avatar {
    width: @avatar-size;
    height: @avatar-size;
    margin-right: 5px;
  }

  .pre-timeline-item-icon {
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    color: @text-color-subtle;
  }

  .commits {
    .info-row {
      margin-bottom: @component-padding;
    }
  }

  .commit {
    display: flex;
    align-items: center;
    padding: 0 @component-padding;
    margin-left: @component-padding * 2;
    padding-bottom: @component-padding * 0.66;

    &:first-child {
      padding-top: @component-padding;
    }

    &:only-child {
      margin-left: -@component-padding;
    }

    & + .issue {
      margin-top: @component-padding/2;
    }

    .author-avatar {
      flex-basis: @avatar-size;
    }

    .commit-message-headline {
      font-size: .9em;
      flex: 1;
      max-height: @avatar-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .commit-sha {
      text-align: right;
      font-family: monospace;
      margin-left: 5px;
      font-size: .85em;
      color: @text-color-subtle;
    }
  }

  .merged-event {
    display: flex;
    margin-top: -1px; // cover top border
    margin-left: @component-padding * -3;
    margin-right: @component-padding * -3;
    padding-left: @component-padding * 5;
    color: mix(@gh-background-color-purple, @text-color-subtle, 50%);
    border: 1px double mix(@gh-background-color-purple, @base-background-color, 24%);
    border-width: 1px 0;
    background-color: mix(@gh-background-color-purple, @base-background-color, 12%);

    .username,
    .merge-ref {
      font-weight: bold;
      color: @text-color-highlight;
    }

    .sha {
      font-family: monospace;
    }
  }

  .issue {

    .info-row {
      margin-bottom: @component-padding;
    }
    .comment-message-header {
      font-size: .9em;
      color: @text-color-subtle;
    }

    .github-DotComMarkdownHtml {

      p:last-child {
        margin-bottom: 0;
      }

      pre > code {
        white-space: pre;
      }
    }
  }
}
