@import "variables";

.github-Project {
  display: flex;
  align-items: center;
  padding: @component-padding/2 @component-padding;
  border-bottom: 1px solid @base-border-color;

  &-path {
    flex: 1;
    margin-left: @component-padding;
  }

  &-avatar {
    width: 23px;
    height: 23px;
    border-radius: @component-border-radius;
  }

}
