@import "variables";

.git-PushPull {
  display: flex;
  padding: @component-padding / 2;
  align-items: center;

  &-item {
    margin: @component-padding / 2;
    &.is-flexible {
      flex: 1;
    }
  }

  // margin not needed, .git-PushPull-item takes care of the spacing
  .icon-mark-github::before {
    margin-right: 0;
    color: @text-color-subtle;
  }

  // Make Pull/Push buttons take up available space
  // since they're more important than Fetch
  .btn-group {
    display: flex;
    .btn {
      flex: 1;
    }
  }

  // Removes flickering of the toolip if there is an icon inside
  .btn-tooltip-wrapper .icon {
    pointer-events: none;
  }
}
