@import "variables";

.git-PushPull {

  // margin not needed, .git-PushPull-item takes care of the spacing
  .icon-mark-github::before {
    margin-right: 0;
  }

  // Make Pull/Push buttons take up available space
  // since they're more important than Fetch
  .btn-group {
    display: flex;
    .btn {
      flex: 1;
    }
  }
}
