@import "variables";

// Used in the status-bar

// click target should take up the width of the container
.push-pull-target {
  display: inline-block;
}

.github-PushPull {
  &-icon.icon.icon.icon {
    margin-right: 0;
    text-align: center;
  }

  .secondary {
      color: @text-color-subtle;
  }

}
