@import "variables";

// Recents commits
// Shown under the commit message input

.github-RecentCommits {
  flex: 1;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid @base-border-color;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.github-RecentCommit {
  padding: @component-padding/2 @component-padding;

  p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & + & {
    border-top: 1px solid @base-border-color;
  }

}
