@import "variables";

.git-StagingView {
  flex: 1;
  display: flex;
  flex-direction: column;

  &-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-header {
    padding:0 12px;
    line-height:2.7em;
    height:2.7em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background:contrast(@pane-item-background-color, darken(@pane-item-background-color, 3%), lighten(@pane-item-background-color, 3%));
    font-size: @font-size;
    font-weight:bold;
    box-shadow:inset @separator-border-color 0 -1px 0, inset @separator-border-color 0 1px 0;
  }

  &-list {
    flex: 1 1 0;
    overflow-x: auto;
  }
}
