@import "variables";

.git-StagingArea {
  &:empty:before {
    content: 'No files to stage.';
    display: block;
    padding: @component-padding;
    text-align: center;
    color: @text-color-subtle;
    font-style: italic;
  }
}
