@import "variables";

.git-StatusBarTileController {
  display: inline-block;

  &-tooltipMenu {
    &.tooltip {
      padding-right: @component-padding;
    }
    .tooltip-inner.tooltip-inner {
      padding: @component-padding / 2;
      background-color: @base-background-color;
      border: 1px solid @base-border-color;
      box-shadow: 0 4px 8px hsla(0, 0, 0, .1);
      color: @text-color;
    }
    &.top .tooltip-arrow.tooltip-arrow {
      bottom: -1px;
      border-width: 10px 10px 0 10px;
      border-top-color: @base-background-color;
    }
  }
}
