@import "variables";

.git-file-status-list {
  width: 300px;
  display:flex;
  flex-direction:column;
  height: 100%;

  font-family: @font-family;
  font-size: @font-size;
  color:@text-color;

  background: @pane-item-background-color;
  border-left: 1px solid @pane-item-border-color;

  .column-header {
    padding:0 12px;
    width:100%;
    line-height:2.7em;
    height:2.7em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background:contrast(@pane-item-background-color, darken(@pane-item-background-color, 3%), lighten(@pane-item-background-color, 3%));
    font-size: @font-size;
    font-weight:bold;
    box-shadow:inset @separator-border-color 0 -1px 0, inset @separator-border-color 0 1px 0;
  }

  & > div {
    flex: 1;
    -webkit-transform:scale(1);

    &.column-header {
      flex-grow:0;
      flex-shrink:0;
      flex-basis:2.7em;

      & ~ .column-header {
        flex-basis:2.71em;
      }
    }

    &.files {
      overflow-y:auto;
      min-height:2.4em;
      flex-basis:auto;
      position:relative;

      &:empty:before {
        content:'No unstaged changes';
        line-height:2.4em;
        text-align:center;
        display:block;
        opacity:0.4;
        font-style:italic;
      }
    }

    &.files.staged {
      flex-grow:0;
      flex-shrink:1;

      &:empty:before {
        content:'Nothing to commit';
      }

      .file-summary:last-child {
        box-shadow:none;
      }
    }

    &.commit-message-box {
      padding:0 12px;
      flex-grow:0;
      flex-shrink:0;
      flex-basis:auto;
    }

    &.undo-last-commit-box {
      flex-grow:0;
      flex-shrink:0;
      flex-basis:auto;
    }
  }
}
