@import "variables";

// General Styles
.github-Tabs {
  &-Panel {
    &.active {
      display: block;
    }

    &.inactive {
      display: none;
    }
  }
}

// App-specific styles
.github-Tabs.sidebar-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  .github-Tabs-NavigationContainer {
    display: flex;
    flex-direction: row;
  }

  &[data-tabs-count="1"] {
    .github-Tabs-NavigationContainer {
      display: none;
    }
  }

  .github-Tabs-PanelContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: @inset-panel-background-color;
  }

  .github-Tabs-NavigationItem {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 36px; // TODO: This is currently matched with the One themes
    border-bottom: 1px solid @tab-border-color;

    & + .github-Tabs-NavigationItem {
      border-left: 1px solid @tab-border-color;
    }

    &.active {
      border-bottom-color: transparent;
      background-color: @inset-panel-background-color;
    }
  }

  .github-Tabs-Panel {
    flex: 1;

    &.active {
    }

    &.inactive {
    }
  }
}
