@import "ui-variables";
@import "syntax-variables";

@separator-border-color: contrast(@pane-item-background-color, fade(@pane-item-border-color, 20%), @pane-item-border-color);

@gh-background-color-blue: #4078c0;
@gh-background-color-yellow: #ffd36b;
@gh-background-color-red: #bd2c00;
@gh-background-color-purple: #6e5494;
@gh-background-color-green: #6cc644;

@ours-line-color: fade(@ui-site-color-1, 40%);
@ours-current-color: fadein(@ours-line-color, 20%);
@theirs-line-color: fade(@ui-site-color-2, 40%);
@theirs-current-color: fadein(@theirs-line-color, 20%);
@base-line-color: fade(@ui-site-color-3, 40%);
@base-current-color: fadeout(@base-line-color, 20%);
@dirty-line-color: fade(@ui-site-color-5, 40%);
@dirty-current-color: fadein(@dirty-line-color, 20%);
@banner-line-color: @background-color-highlight;
@resolved-line-color: @background-color-highlight;
